
/* --------------for 700px device-------------------- */

@media screen and (max-width:500px) {
    

    *{
        max-width: 100%;
        overflow-x: hidden ;

    }
    html, body {
        overflow-x: hidden;
        height: 100%;
        margin: 0;
        padding: 0;
    }
    /* nav bar responsive */

  
    #navigation > .nav-ul-par {
        position: absolute;
        top:0;
        right:-200px;
        width: 200px;
        height: 100vh;
        text-align: left;
        z-index: 5;
        background-color:blueviolet;
        border: 1px solid red;
        transition: 1s;

    }

    #navigation > .nav-ul-par > ul{
        flex-direction: column;
        padding: 10px 0;
        margin-right: 0;

    }

   #navigation > .nav-ul-par > ul > li {
        margin: 20px 0;
    }
    #navigation > .nav-ul-par> ul > li > a {
        border: none;
        padding: 0 20px;
       
    }

    #navigation i {
        display: block;
      }
      #navigation i {
        padding: 25px;
        font-size: 22px;
        cursor: pointer;
      }


    /* this is icon rotate off */
    .icon {
        display: none;
    }
    
   /* hero area responsive */

   #heroarea > div > h4{
    font-size: 15px;
    width: 60%;
   }
   #heroarea > div > h1{
    font-size: 30px;
   }
   .ideas {
    font-size: 45px;
   }

   #heroarea > div > h5{
    font-size: 20px;
    width: 60%;
   }


/* first section-responsive */

    .first-section{
        width: 100%;
        flex-direction: column;
        align-items: center;
        gap: 25px;
    }
    .first-section > div >i{font-size: 35px;
                                                           
    }
    .abouttitle > h2::after{ content: "";
        top: 83px;
        right: 27px;
        width: 200px;
        height: 3px;
        background-color:rgb(212, 157, 85);
        position: absolute;

   }
   #aboutbody {
        width: 100%;
        flex-direction: column;
       
    }
    .abouttext {
        text-align: center;
       
    }

    .abouttext > p{
        padding: 0 40px;
    }

 /* why you choose responsive */


    .choosemain{
        width: 100%;

    }

    .choosebody {
        grid-template-columns: 1fr;
        align-items: center;
        margin: 20px 20px;    
    }
    .choosebody > div > i{
        font-size: 35px;
    }

    /* price section responsive */


    .price-section{
        width: 100%;
    }
    .price-card-par {
        flex-direction: column;
        align-items: center;
        gap: 30px;
        padding-bottom: 10px;
    }
    .price-card-par >div{
        height: 510px;
    }
     

    /* review-section-responsive */

    .review-section{
        width: 100%;
    }
    .review-card-par {
        grid-template-columns: 1fr;
    } 
    .review-card-par > div{
       justify-content: space-between;
    }
    .review-card-par > div > img{
        width: 70px;
       height: 70px;
       margin-right: 20;
    }
    #span-username{
        font-size: 20px;
        
    }
    #span-useroffice{
        margin-bottom: 0;
    }


    
 /* parallax section responsive */

    .parallax-par{
        width: 100%;
        flex-direction: column;
        justify-content: space-between;
        gap: 50px;
    }
    .parallax-par > div > i{
        font-size: 35px;
    }
    .parallax-par > div > h2{
        padding: 10px 0;
    }

/* blog -section-responsive */


    .blog-section{
        width: 100%;
        
    }
    .blog-item-par{
        grid-template-columns: 1fr;
    }
    .blog-itam >div > img{
        width:100%;
       
    }
    .blog-itam > div {
        margin: auto;
        width: 80%;
    }

/* contact-section-responsive */


    .contact-section{
        padding: 0 10px;
    }
    .contact-form-par{
        width: 100%;
    }

    .contact-body{
        flex-direction: column;
    }
    .body-title{
        font-size: 24px;
        padding-bottom: 30px;
    }

    .body-title:after { 
        bottom: 0;      
    }

    .body-contact{
        margin-top: 20px;
    }
    .contact-body-right{
        margin-top: 20px;
    }

    /* -----footer section---responsive */

    .footer-par > div{
        width: 30%;
    }
    .footer-par > div > h3{
        font-size: 1rem;
    }

    #footer-social-icon > a > i { font-size: 15px;
                                
    }
    .footer-par > div > a {
        font-size: 13px;
        font-weight: normal;
        padding: .50rem 0;
    }

    /* animation responsive */

    .footer-animation {
        height: 150px;
        top: -150px;
    }

    .footer-animation-moto {
        height: 100px;
        width: 75px;
        bottom: 40px;
        margin-left: -125px;
    }

    .footer-animation-car-fume {
        height: 57px;
        width: 103px;
        bottom: 5px;
        margin-left: 125px;
    }

    .footer-animation-trees {
        background-size: cover;
        bottom: -30px;
    }

    .footer-animation-first-road,
    .footer-animation-second-road {
        background-size: cover;
    }
}